.text-danger{
    font-family: 'Princess Sofia','cursive';
    color:#e5904d!important;
    text-shadow:1px 1px black;
}


#s1_header{background:#1e1109}
#s2_trio{background:#fefaf7}
#s3_painting_of_the_week{background:#26221f}
#s4_about{background:#f0e9d7}
#s5_prints{background:#fefaf7}
#s6_paintings{background:#414046}
#s7_drawings{background:#f0e9d7}
#s8_contact{background:#fefaf7}
#s9_footer{background:#414046}
#s10_copyright{background:#000}

/* --------- s1_header -------*/
#s1_header{
    background: url("img/interface-imgs/s1-header-lg-center.jpg");
height: 100vh;
background-position: center bottom;
background-repeat:no-repeat;
background-size: cover;

/* maximum height of a view */
}

#s1_header{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
  
  }
  
  #s1_header aside{
    text-align:center;
    grid-column: 2/4;
    grid-row: 4/5;
  }
    @media (max-width: 992px) {
      #s1_header{
        height: 50vh;
      }
      #s1_header .display-4{font-size:28px;}
      #s1_header h5{font-size:12px;}
    }
  

/* --------- s2_trio -------*/

.myGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap: 10px;
}
@media (max-width:768px){
    .myGrid{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
    }

    .mySubgrid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(1,1fr);
    grid-gap:15px;
    }
}

@media(max-width: 576px){
    .myGrid{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,auto);
 }
 .mySubgrid{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,auto);
 }
}
/* --------- s3_painting_of_the_week -------*/

/* --------- s4_about -------*/
.s4_about_grid{

    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: repeat(3,auto);
    grid-gap:10px;
    grid-template-areas:
    "img-selfportrait img-selfportrait img-selfportrait"
    "hd-about hd-about hd-about"
    "text-about text-about text-about";

}

.img-selfportrait{
    grid-area:img-selfportrait;
    grid-column:2 / 3;
}
.hd-about{
    grid-area:hd-about;
    text-align: center;
}
.text-about{
    grid-area:text-about;
    line-height: 2;

}
 @media (max-width:768px){
    .s4_about_grid{

        
        grid-template-areas:
        "img-selfportrait hd-about hd-about "
        "img-selfportrait text-about text-about"
        "img-selfportrait text-about text-about";
    grid-column:1/3;
    }
    .img-selfportrait{
        grid-column:1 / 2;
    }
    .hd-about{
        text-align: left;
        padding-left: 20px;

    }
    .text-about{
        text-align: left;
        padding-left: 20px;
    
    }
    
    
 }
 @media (max-width:992px){
    .s4_about_grid{

        grid-template-columns:repeat(2,1fr) ;
        grid-template-rows: repeat(2,1fr);
            
        grid-template-areas:
        "img-selfportrait hd-about hd-about "
        "img-selfportrait text-about text-about"
        "img-selfportrait text-about text-about";
    grid-column:1/3;
    }
    .img-selfportrait{
        grid-column:1 / 2;
    }
    .hd-about{
        text-align: left;
        padding-left: 20px;

    }
    .text-about{
        text-align: left;
        padding-left: 20px;
    
    }
 
 }
/* --------- s5_prints -------*/

/* --------- s6_paintings -------*/

.painting-1{background: url(img/paintings-img/1920px-P1150002_Cognacq-Jay_Rembrandt_anesse_de_Balaam_rwk.jpg);background-position:center; background-size:cover;}
.painting-2{background: url(img/paintings-img/1920px-Rembrandt_-_Rembrandt_and_Saskia_in_the_Scene_of_the_Prodigal_Son_-_Google_Art_Project.jpg);background-position:center; background-size:cover;}
.painting-3{background: url(img/paintings-img/1920px-Rembrandt_van_Rijn_-_Portrait_of_Willem_Burchgraeff_-_O_854_-_Slovak_National_Gallery.jpg);background-position:center; background-size:cover;}
.painting-4{background: url(img/paintings-img/1920px-Rembrandt_van_Rijn_198.jpg);background-position:center; background-size:cover;}
.painting-5{background: url(img/paintings-img/2560px-Rembrandt_Harmensz._van_Rijn_-_Old_Man_with_a_Gold_Chain_-_Google_Art_Project.jpg);background-position:center; background-size:cover;}
.painting-6{background: url(img/paintings-img/2560px-Rembrandt_Harmensz._van_Rijn_-_Zelfportret_op_jeugdige_leeftijd_-_Google_Art_Project.jpg);background-position:center; background-size:cover;}
.painting-7{background: url(img/paintings-img/2880px-Rembrandt_The_Artist_in_his_studio.jpg);background-position:center; background-size:cover;}
.painting-8{background: url(img/paintings-img/Rembrandt_-_Portrait_of_a_Woman_with_Gloves_-_NGI.808.jpg);background-position:center; background-size:cover;}
.painting-9{background: url(img/paintings-img/Rembrandt_van_Rijn_197.jpg);background-position:center; background-size:cover;}
.painting-10{background:url(img/paintings-img/Rembrandt-SMELL.jpg);background-position:center; background-size:cover;}


/* --------- s7_drawings -------*/

/* --------- s8_contact -------*/

/* --------- s9_footer -------*/

/* --------- s10_copyright -------*/