.text-danger{
    font-family: 'Princess Sofia','cursive';
    color:#e5904d!important;
    text-shadow:1px 1px black;
}


#s1_header{background:#1e1109;}
#s2_trio{background:#fefaf7;}
#s3_painting_of_the_week{background:#26221f;}
#s4_about{background:#f0e9d7;}
#s5_prints{background:#fefaf7;}
#s6_paintings{background:#101014;}
#s7_drawings{background:#f0e9d7;}
#s8_contact{background:#fefaf7;}
#s9_footer{background:#414046;}
#s10_copyright{background:#000;}

/* NAVBAR */

/* --------- s1_header -------*/
#s1_header{
    background: url("img/interface-imgs/s1-header-lg-center.jpg");
height: 100vh;
background-position: center bottom;
background-repeat:no-repeat;
background-size: cover;

/* maximum height of a view */
}

#s1_header{
    background:  url("img/interface-imgs/s1-header-lg-center.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
  
  }
  
  #s1_header aside{
    text-align:center;
    grid-column: 2/4;
    grid-row: 4/5;
  }
    @media (max-width: 992px) {
      #s1_header{
        height: 50vh;
      }
      #s1_header .display-4{font-size:28px;}
      #s1_header h5{font-size:12px;}
    }
  

/* --------- s2_trio -------*/

.myGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap: 10px;
}
@media (max-width:768px){
    .myGrid{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
    }

    .mySubgrid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(1,1fr);
    grid-gap:15px;
    }
}

@media(max-width: 576px){
    .myGrid{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,auto);
 }
 .mySubgrid{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,auto);
 }
}
/* --------- s3_painting_of_the_week -------*/

/* --------- s4_about -------*/


.s4_about_grid{

 display:grid;       
    grid-template-areas:
    "img-selfportrait hd-about hd-about "
    "img-selfportrait text-about text-about"
    "img-selfportrait text-about text-about";
grid-column:1/3;
}
.img-selfportrait{
    grid-area:img-selfportrait;
    grid-column:1 / 2;
}
.hd-about{
    grid-area:hd-about;
    text-align: left;
    padding-left: 20px;

}
.text-about{
    grid-area:text-about;
    text-align: left;
    padding-left: 20px;

}


 @media (max-width:992px){
    .s4_about_grid{   
        grid-template-columns:repeat(2,1fr) ;
        grid-template-rows: repeat(2,auto);
       grid-gap:10px ;
        grid-template-areas:
        "hd-about hd-about"
        "text-about img-selfportrait"
        ;
    grid-column:1/3;
    }
    .img-selfportrait{
        grid-column:2 / 3;
    }
    .hd-about{
        text-align: left;

    }
    .text-about{
        text-align: left;
    
    }
}
@media (max-width:768px){
   
    .s4_about_grid{

        grid-template-columns:repeat(3,1fr) ;
        grid-template-rows: repeat(3,auto);
        grid-gap:10px;
        grid-template-areas:
        "img-selfportrait img-selfportrait img-selfportrait"
        "hd-about hd-about hd-about"
        "text-about text-about text-about";
    
    }
    
   
    .hd-about{
        text-align: center;
    }
    .text-about{
        line-height: 2;
    
    }
        
    
 }

/* --------- s5_prints -------*/
.mythumbs{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr)) ;
    grid-gap:10px;
    justify-items: center;
}

.mythumbs img{
    display: block;
    box-shadow: 1px 1px 5px rgb(0,0,0,0,0.4);
}

.mythumbs my-bk-image{
    box-shadow: 0 0 o rgb(0,0,0,0,0);

}
/* --------- s6_paintings -------*/
.my-paintings-container{
    display:grid;
    min-height:600px;
    background:white;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:
    "one one two three three"
    "one one four five five"
    "six seven seven five five"
    "six eight nine nine ten"
    ;
grid-gap: 2px;
border: 2px solid white;
outline: none;
}

#s6_paintings aside{
    display:grid;
    /* the smallest the two child will span is 40% of the page */
    grid-template-columns:repeat(auto-fit, minmax(40%, 1fr)) ;

}

#s6_paintings .Windmill{
    width:60%;
    justify-self: end;
    align-self: end;
}


.my-cursor{
    cursor: pointer;
    outline : none;
}
@media (max-width:576px){
    .Windmill{
        display: none;
    }
}
.painting-1{background: url(img/paintings-img/1920px-P1150002_Cognacq-Jay_Rembrandt_anesse_de_Balaam_rwk.jpg);
background-position:center;
 background-size:cover;
 grid-area:one;

}
.painting-2{background: url(img/paintings-img/1920px-Rembrandt_-_Rembrandt_and_Saskia_in_the_Scene_of_the_Prodigal_Son_-_Google_Art_Project.jpg);
    background-position:center; 
    background-size:cover;
    grid-area:two;

}
.painting-3{background: url(img/paintings-img/1920px-Rembrandt_van_Rijn_-_Portrait_of_Willem_Burchgraeff_-_O_854_-_Slovak_National_Gallery.jpg);
    background-position:center; 
    background-size:cover;
    grid-area:three;

}
.painting-4{background: url(img/paintings-img/1920px-Rembrandt_van_Rijn_198.jpg);
    background-position:center; 
    background-size:cover;
    grid-area:four;
}
.painting-5{background: url(img/paintings-img/2560px-Rembrandt_Harmensz._van_Rijn_-_Old_Man_with_a_Gold_Chain_-_Google_Art_Project.jpg);
    background-position:center;
     background-size:cover;
     grid-area:five;

    }
.painting-6{background: url(img/paintings-img/2560px-Rembrandt_Harmensz._van_Rijn_-_Zelfportret_op_jeugdige_leeftijd_-_Google_Art_Project.jpg);
    background-position:center;
     background-size:six;
     grid-area:six;

    }
.painting-7{background: url(img/paintings-img/2880px-Rembrandt_The_Artist_in_his_studio.jpg);
    background-position:center;
     background-size:cover;
     grid-area:seven;

    }
.painting-8{background: url(img/paintings-img/Rembrandt_-_Portrait_of_a_Woman_with_Gloves_-_NGI.808.jpg);
    background-position:center;
     background-size:cover;
     grid-area:eight;

    }
.painting-9{background: url(img/paintings-img/Rembrandt_van_Rijn_197.jpg);
    background-position:center;
     background-size:cover;
     grid-area:nine;

    }
.painting-10{background:url(img/paintings-img/Rembrandt-SMELL.jpg);
    background-position:center;
     background-size:cover;
     grid-area:ten;

    }


/* --------- s7_drawings -------*/

/* --------- s8_contact -------*/
.contacts_grid{
    display: grid;
    grid-auto-rows:repeat(2,1fr) ;
    /* grid-template-rows: repeat(2,1fr); */
    grid-template-columns: (3,1fr);
    grid-template-areas: 
    "text map map"
    "image map map"
    ;
    grid-gap:10px;
}
.contact_map{
    grid-area:map
}
.contact_text{
    grid-area:text;
    text-align:left;
}

.contact_image{
    grid-area:image;
    justify-self: start;
}
@media (max-width:768px){
    .contacts_grid{
        grid-template-columns:repeat(2,auto) ;
        grid-auto-rows:repeat(3,auto);
        grid-template-areas: 
        "image text"
        "map map"
        "map map"
        ;   
    }
    .contact_image{
        justify-self: end;
    }
}
@media (max-width:578px){
    .contacts_grid{
        grid-template-columns:auto;
        grid-auto-rows:repeat(4,auto);
        grid-template-areas: 
        "image"
        "text"
        "map"
        ;   
    }
    .contact_image{
        /* grid-column:2/4; */
        transform:scaleX(-1);
        justify-self: center;
    }

.contacts_text{
    text-align:center;
}

    
}


/* --------- s9_footer -------*/

.s9_footer_grid{
    font-size: small;
    display:grid;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows: repeat(6,auto);
    grid-gap:10px;
    grid-template:
    "footer_hours"
    "footer_menu"
    "footer_museum"
     "footer_painting_names"
     "footer_links"
     "footer_img";
}
.footer_museum h1{
    text-align: center;

}
.footer_museum, .footer_links{
    flex-direction:row-reverse;
    text-align: right;
}

.footer_img{
    width:50%;
    justify-self: flex-end;
}
.footer_hours{
    text-align: left;
}

@media(max-width:767px){
    .footer_menu, .footer_museum, .footer_painting_names, .footer_links{
        border-top: 1px dashed black;
        padding-top: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .footer_img{
        transform: scaleX(-1);
        justify-self: left;
    }

    .footer_hours{
        text-align:center;
    }
}

@media (min-width:768px){
    .s9_footer_grid{
        font-size: initial;
        grid-template-rows: auto;
        grid-template-columns:1fr 1fr ;
        grid-template-areas:
        "footer_hours footer_img"
        "footer_menu footer_museum"
        "footer_painting_names footer_links"
        ;

    }
    .footer_museum, .footer_links, .footer_links hi{

        flex: none;
        padding-top:0;
        text-align: left;
        /* justify-content:flex-start;
        align-items: left; */

    }

}
/* --------- s10_copyright -------*/
 